<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">

    <parameter name="browserName" value="chrome" />
    <test verbose="2" name="Ecommerce">

        <classes>
            <class name="sample.ecommerce.HomePageTest"> </class>
        </classes>

    </test>
</suite>